<div class="sb-slidebar sb-left sb-style-overlay sb-width-custom" style="opacity:0.8" data-sb-width="100%">
  <div class="container" style="width:70vw;height:100vh">
    <div class="row" style="color:white"><center><%= image_tag "accio_logo.gif", style: "height: 25em;padding-top:2em" %></center></div>
    <div class="row images_holder" style="padding-top:15em;width:100%">
      <div class="col-md-4 col-xs-12">
        <center><a href="#" onclick="$('#loginModal').modal('show');"><%=image_tag "producer.png", style: "width:65%", id: "producer_image" %></a></center>
      </div>
      <div class="col-md-4 col-xs-12 col-md-offset-4">
        <center><a href="#" onclick="consumerToggle();toggleFullScreen();$('#services_modal').modal('show');"><%= image_tag "consumer.png", style: "width:65%", id: "consumer_image" %></a></center>
      </div>
    </div>
    <div class="row" style="position:absolute;bottom:1vh;width:100%">
      <center><a href="#" onclick="$('#adminLoginModal').modal('show');"><%= image_tag "rajni.gif", style: "width:10%", id: "admin_image" %></a></center>
    </div>
  </div>
</div>